
:root {
  --bg-color:#1f242d;
  --seconf-bg-color:#323946;
  --text-color:#fff;
  --main-color:#0ef;
}

.navbar-brand img{
  width: 70px;
    height: 70px;
    border-radius:50%;
    font-size: 2.5rem;

}
.nav-link{
  margin-right: 10px;
  margin-left: 10px;
  color: black; 
}
.nav-link:hover{
  color: black;
}

.search{
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  border: 2px solid rgb(248, 26, 92);
}
.bt0{
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;

}

.carousel-item{
  height: 630px;
  
}

#home{
  position: relative;
  min-width: 100%; 
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px  ;
  
}
#home h1{
  position: relative;
  padding-top: 70%;
  font-size: 3.2rem;
  font-weight: 700; 
  opacity: 0;
  animation: slideBottom 1s ease forwards infinite;
  animation-delay: 1s;
  color: red;
}

#home h2{
  padding-top: 5%;
  font-size:2.0rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards infinite;
  animation-delay: 2s;

}
#home h3{
  padding-top: 6%;
  font-size:1.5rem;
  opacity: 0;
  animation: slideTop 2s ease forwards infinite;
  animation-delay: 3s;

}
#home .btn{
  align-items: center;
  width: 30%;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color: white;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  display: block;
 
}
#home1 .btn{
  align-items: center;
  width: 30%;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color: white;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
 
}
#home1{
  position: relative;
  padding-bottom: 10%;
  padding-left: 60%;
  font-size: 1.0rem;
  font-weight: 700; 
  color:white;

}
#home1 h1{
  position: relative;
  padding-top: 70%;
  font-size: 3.0rem;
  font-weight: 700; 
  opacity: 0;
  animation: slideBottom 1s ease forwards infinite;
  animation-delay: 1s;
  color: white;

}
#home1 h2{
  padding-top: 5%;
  font-size:2.0rem;
  opacity: 0;
  animation: slideLeft 2s ease forwards infinite;
  animation-delay: 2s;

}
#home1 h3{
  padding-top: 6%;
  font-size:1.5rem;
  opacity: 0;
  animation: slideTop 2s ease forwards infinite;
  animation-delay: 3s;

}



@keyframes slideRight{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
      transform: translateX(100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}
@keyframes slideTop{
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}
@keyframes slideBottom{
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}

/* Media query for small devices */
@media (max-width: 767px) {
  .carousel-caption {
    display: block !important; /* Ensure captions are displayed */
  }
  .carousel-caption .row > div {
    display: block !important; /* Ensure the content within the rows is displayed */
  }
  
  /* Set explicit font sizes for your content on small devices */
  .carousel-caption h1
  {
    font-size: 12px !important; /* Adjust the font size as needed */
    
  }
  .carousel-caption h2 {
    font-size: 8px !important;
    padding-bottom: 2px !important;
  }
  .carousel-caption h3{
    font-size: 8px !important;
    padding-bottom: 2px !important;

  }
  .carousel-caption button{
    font-size: 10px !important;
    padding-bottom: 100px !important;
    padding-top: 0.5px !important; 
    display:block !important;
    flex-direction: column;
    padding-left: 30px !important;
    object-fit: cover !important;
  
  }
}

@media (max-width: 767px){
  .carousel-caption .row > #home-content {
    display: block !important;

  }
  .carousel-caption .row > #home-content{
    padding-bottom: 200px !important;
  }
  .carousel-caption .row > #home-content button{
    padding-bottom: 180px !important;
    flex-direction: column !important;
    overflow-y: hidden !important;
    display: block !important;

  }
}