
:root {
  --bg-color:#1f242d;
  --seconf-bg-color:#323946;
  --text-color:#fff;
  --main-color:#0ef;
}

.navbar-brand img{
  width: 70px;
    height: 70px;
    border-radius:50%;
    font-size: 2.5rem;

}
.nav-link{
  margin-right: 10px;
  margin-left: 10px;
  color: black; 
}
.nav-link:hover{
  color: black;
}

.search{
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  border: 2px solid rgb(248, 26, 92);
}
.bt0{
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;

}

.carousel-item{
  height: 630px;
  
}

#home{
  position: relative;
  min-width: 100%; 
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px  ;
  
}
#home h1{
  position: relative;
  padding-top: 70%;
  font-size: 3.2rem;
  font-weight: 700; 
  opacity: 0;
  animation: slideBottom 1s ease forwards infinite;
  animation-delay: 1s;
  color: red;
}

#home h2{
  padding-top: 5%;
  font-size:2.0rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards infinite;
  animation-delay: 2s;

}
#home h3{
  padding-top: 6%;
  font-size:2.0rem;
  opacity: 0;
  animation: slideTop 2s ease forwards infinite;
  animation-delay: 3s;

}
#home p{
  padding-top: 6%;
  font-size:1.0rem;
  opacity: 0;
  animation: slideBottom 2s ease forwards infinite;
  animation-delay: 4s;

}
#home1{
  position: relative;
  padding-bottom: 10%;
  padding-left: 60%;
  font-size: 1.0rem;
  font-weight: 700; 
  opacity: 0;
  animation: slideBottom 2s ease forwards infinite;
  animation-delay: 2s;
  color:white;

}
#home1 h1{
  position: relative;
  padding-top: 70%;
  font-size: 3.0rem;
  font-weight: 700; 
  opacity: 0;
  animation: slideBottom 1s ease forwards infinite;
  animation-delay: 1s;
  color: white;

}
#home1 h2{
  padding-top: 5%;
  font-size:2.0rem;
  opacity: 0;
  animation: slideLeft 2s ease forwards infinite;
  animation-delay: 2s;

}
#home1 h3{
  padding-top: 6%;
  font-size:2.0rem;
  opacity: 0;
  animation: slideTop 2s ease forwards infinite;
  animation-delay: 3s;

}
#home p{
  padding-top: 6%;
  font-size:1.0rem;
  opacity: 0;
  animation: slideBottom 2s ease forwards infinite;
  animation-delay: 4s;

}


@keyframes slideRight{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
      transform: translateX(100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}
@keyframes slideTop{
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}
@keyframes slideBottom{
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}



  
